.card {
  margin: 0;
  width: var(--card-width);
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.show-btn {
  position: absolute;
  top: 12px;
  left: 5px;
}
