.header__sign-out {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border: 0;
  padding: 0;
  background-color: inherit;
  color: white;
}

.header__sign-out:hover {
  cursor: pointer;
  opacity: 0.6;
}
